<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Editing Artist</h1>

        <%= render 'form', artist: @artist %>

        <%= link_to 'Show', @artist, class: 'btn btn-default' %> |
        <%= link_to 'Back', artists_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>


