/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

@import 'artists';
@import 'genres';
@import 'songs';
@import 'albums';

body {
  height: 100vh;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, gray, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, gray, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, gray, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, gray, black); /* Standard syntax */
  color: white;
}

tr:hover {
  a {
    color: black;
  }
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.well {
  line-height: 2em;
  a {
    &:hover {
      font-size: 1.2em;
      font-weight: 900;
    }
    color: black;
  }
  color: black;
}

.well-title {
  margin-top: 0;
}

// Tablet
@media (max-width: 992px) {
  .index-title {
    text-align: center;
  }

  .well-title {
    text-align: center;
  }

}

// Phone
@media (max-width: 768px) {
  .form-button {
    text-align: center;
  }
}


